@page "/fetchdata"
@using Purchase.Data
@using Purchase.Services
@inject PurchaseService IMyService


<PageTitle>Proposal</PageTitle>

<h1>Proposal</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (proposals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
               <th>ID</th>
                <th>ApplicationNum</th>
                <th>Date.</th>
                <th>FullNumber</th>
                <th>Status</th>
                <th>TextStatus</th>
                <th>Division</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
              @foreach (var _proposal in proposals)
            {
                <tr>
                    <td>@_proposal.ID</td>
                    <td>@_proposal.Number</td>
                    <td>@_proposal.DateCreation</td>
                    <td>@_proposal.FullNumber</td>
                    <td>@_proposal.Status</td>
                    <td>@_proposal.TextStatus</td>
                    <td>@_proposal.Department</td>
                    <td>@_proposal.Author</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Proposal[]? proposals;

    protected override async Task OnInitializedAsync()
    {
     // proposals = await IMyService.GetAllProposalsAsync();
    }
}
