@page "/fetchdata"
@using Purchase.Data
@using Purchase.Services
@inject IMyService PurchaseService

<PageTitle>Proposals</PageTitle>

<h1>Proposals</h1>

<button class="btn btn-primary" @onclick="OnInitializedAsync">Update</button>

@if (proposals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Number</th>
                <th>Date</th>
                <th>Category</th>
                <th>Author</th>
                <th>Department</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proposal in proposals)
            {
                <tr>
                    <td>@proposal.ID</td>
                    <td>@proposal.Number</td>
                    <td>@proposal.DateCreation</td>
                    <td>@proposal.Category</td>
                    <td>@proposal.Author</td>
                    <td>@proposal.Department</td>
                    <td>@proposal.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Proposal> proposals = new();

    protected override async Task OnInitializedAsync()
    {
        proposals = await PurchaseService.GetAllProposals();
    }
}

